<section id="english-about" class="about-us-section">
  <div class="container">
    <div class="about-us-container-title">
      <h2 class="section-title">
        About
        <span class="section-title-highlight">Us</span>
      </h2>
      <p class="section-description">
        We are dedicated to providing engaging and effective English language
        courses in a supportive and stimulating learning environment
      </p>
    </div>
    <div class="about-us-container-content">
      <ol class="about-us-list">
        <li class="about-us-list-item">
          <div class="about-us-list-item-number">01</div>
          <div class="about-us-list-item-text">
            Expert, innovative teaching staff
          </div>
        </li>
        <li class="about-us-list-item">
          <div class="about-us-list-item-number">02</div>
          <div class="about-us-list-item-text">
            Wide range of course levels and options
          </div>
        </li>
        <li class="about-us-list-item">
          <div class="about-us-list-item-number">03</div>
          <div class="about-us-list-item-text">
            Multicultural learning environment
          </div>
        </li>
        <li class="about-us-list-item">
          <div class="about-us-list-item-number">04</div>
          <div class="about-us-list-item-text">
            Comprehensive language support services
          </div>
        </li>
      </ol>
      <div class="about-us-container-image">
        <img class="about-us-image" src="./images/memoji.png" />
      </div>
    </div>
  </div>
</section>
