<section>
  <div>
    <h1>About Us</h1>
    <p>
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>
  </div>
  <div>
    <div>
      <ul>
        <li>
          <div>01</div>
          <div>Expert</div>
        </li>
        <li>
          <div>02</div>
          <div>Wide</div>
        </li>
        <li>
          <div>03</div>
          <div>Multi</div>
        </li>
        <li>
          <div>04</div>
          <div>Comp</div>
        </li>
      </ul>
    </div>
    <div>Image</div>
  </div>
</section>
