    <!-- HEADER -->
    <header class="header">
        <div class="container">
          <nav class="header-navigation">
            <a class="header-logo link" href="./index.html"
              >english
              <span class="header-logo-excellence">excellence.</span>
            </a>
            <ul class="header-list list">
              <li class="header-item">
                <a class="header-link link current" href="">About us</a>
              </li>
              <li class="header-item">
                <a class="header-link link" href="">Our lessons</a>
              </li>
              <li class="header-item">
                <a class="header-link link" href="">Teachers</a>
              </li>
              <li class="header-item">
                <a class="header-link link" href="">Reviews</a>
              </li>
              <li class="header-item">
                <a class="header-link link" href="">Contact us</a>
              </li>
            </ul>

          </nav>
          <address class="header-soc-media">
            <ul class="header-list list">
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                      <svg class="header-soc-icon" width="40" height="40">
                        <use href="../images/icons.svg#icon-facebook"></use>
                      </svg>
                    </a>
                </li>
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                      <svg class="header-soc-icon" width="40" height="40">
                        <use href="../images/icons.svg#icon-instagram"></use>
                      </svg>
                    </a>
                </li>
                <li class="header-soc-item">
                    <a href="" class="header-soc-link link">
                      <svg class="header-soc-icon" width="40" height="40">
                        <use href="../images/icons.svg#icon-youtube"></use>
                      </svg>
                    </a>
                </li>
            </ul>
          </address>
        </div>
      </header>