<!--------- HEADER -------->
<div class="header-container">
  <a class="header-logo link" href=""
    >english<span class="header-logo-excellence">excellence.</span>
  </a>

  <!-------- NAVIGATGION -------->
  <nav class="header-navigation">
    <ul class="header-navigation-list list">
      <li class="header-navigation-item">
        <a class="header-navigatoin-link link" href="#english-about"
          >About us</a
        >
      </li>
      <li class="header-navigation-item">
        <a class="header-navigatoin-link link" href="#english-lessons"
          >Our lessons</a
        >
      </li>
      <li class="header-navigation-item">
        <a class="header-navigatoin-link link" href="#english-teachers"
          >Teachers</a
        >
      </li>
      <li class="header-navigation-item">
        <a class="header-navigatoin-link link" href="#english-reviews"
          >Reviews</a
        >
      </li>
      <li class="header-navigation-item">
        <a
          class="header-navigatoin-link link"
          href="#english-application"
          >Contact us</a
        >
      </li>
    </ul>
  </nav>

  <!-------- HEADER SOC MEDIA -------->

  <ul class="header-soc-list list">
    <li class="header-soc-item">
      <a
        href="https://www.facebook.com/goITclub/"
        class="header-soc-link link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="facebook icon"
      >
        <svg class="header-soc-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-item">
      <a
        href="https://www.instagram.com/goitclub/"
        class="header-soc-link link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="instagram icon"
      >
        <svg class="header-soc-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>
    <li class="header-soc-item">
      <a
        href="https://www.youtube.com/c/GoIT"
        class="header-soc-link link"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="instagram icon"
      >
        <svg class="header-soc-icon" width="28" height="28">
          <use href="./images/icons.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>

  <!-- <button
    class="menu-open js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
    data-menu-open-btn
  >
    <svg class="menu-open-icon" width="32" height="22">
      <use href="./images/icons.svg#icon-menu"></use>
    </svg>
  </button> -->



  <button
  class="menu-open js-open-menu"
  type="button"
  aria-expanded="false"
  aria-controls="mobile-menu"
  data-menu-open-btn
>
  <svg
    class="menu-open-icon"
    width="32"
    height="23"
    stroke="var(--color-black)"
    aria-controls="mobile-menu"
    aria-expanded="false"
    role="img"
  >
    <use
      class="menu-open-icon"
      xlink:href="./images/icons.svg#icon-menu"
    ></use>
  </svg>
</button>
</div>

<!---------- MOBILE MENU ---------->

<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="menu-container" id="mobile-menu">
    <button
      type="button"
      class="menu-close-button js-close-menu"
      data-menu-close-btn
    >
      <svg class="menu-close-icon" width="32" height="32">
        <use href="./images/icons.svg#icon-x-close"></use>
      </svg>
    </button>

    <!---------- MOBILE MENU NAVIGATION ---------->

    <nav class="menu-navigation">
      <ul class="menu-navigation-list list">
        <li class="menu-navigation-item">
          <a class="menu-navigation-link link" href="#english-about"
            >About us</a
          >
        </li>
        <li class="menu-navigation-item">
          <a class="menu-navigation-link link" href="#english-lessons"
            >Our lessons</a
          >
        </li>
        <li class="menu-navigation-item">
          <a class="menu-navigation-link link" href="#english-teachers"
            >Teachers</a
          >
        </li>
        <li class="menu-navigation-item">
          <a class="menu-navigation-link link" href="#english-reviews"
            >Reviews</a
          >
        </li>
        <li class="menu-navigation-item">
          <a class="menu-navigation-link link" href="#english-application"
            >Contact us</a
          >
        </li>
      </ul>
    </nav>

    <!-----------MOBILE SOC MENU------------>

    <ul class="menu-soc-list list">
      <li class="menu-soc-item">
        <a
          class="menu-soc-link link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="facebook icon"
        >
          <svg class="menu-soc-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="menu-soc-item">
        <a
          class="menu-soc-link link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="menu-soc-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-soc-item">
        <a
          class="menu-soc-link link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="menu-soc-icon" width="28" height="28">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
