<section class="leave-an-aplication section" id="english-application">
  <div class="laa-main container">
    <h2 class="laa-title section-description">
      Leave an <span class="section-title-highlight">application</span>
    </h2>
    <p class="laa-section-description section-title-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <div class="laa-main-cont">
      <div class="laa-hidden-container">
        <img
          class="laa-thumb-pic"
          srcset="./images/thumb-image.png 1x, ./images/trumb-image@2x.jpg 2x"
          src="./images/thumb-image.png"
          alt="Girl in headphones learning English"
          width="597"
          height="537"
        />
        <p class="laa-main-part-title">1000</p>
        <p class="laa-main-part-prgf">
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>
      <form class="laa-name-form">
        <label class="laa-label-form-name" for="user-name">
          <input
            class="laa-input"
            id="user-name"
            type="text"
            name="user-name"
            required
            minlength="3"
            placeholder="Name"
          />
        </label>
        <label class="laa-label-form-name" for="user-email">
          <input
            class="laa-input"
            type="email"
            name="user-email"
            id="user-email"
            required
            placeholder="Email"
          />
        </label>
        <label class="laa-label-form-name" for="user-phone">
          <input
            class="laa-input"
            type="tel"
            name="user-phone"
            id="user-phone"
            required
            placeholder="Phone"
            minlength="12"
            maxlength="12"
          />
        </label>
        <label class="laa-label-form-name" for="user-comment">
          <textarea
            class="laa-input"
            name="user-comment"
            id="user-comment"
            rows="4"
            placeholder="Comment"
            required
            minlength="7"
          ></textarea>
        </label>

        <h3 class="laa-choose-title">Choose a teacher</h3>

        <label class="form-label">
          <input
            type="radio"
            class="laa-form-input"
            name="hobby"
            value="marina"
            checked
          />
          Maria
        </label>
        <label class="form-label">
          <input
            type="radio"
            class="laa-form-input"
            name="hobby"
            value="artem"
          />
          Artem
        </label>
        <label class="form-label">
          <input
            type="radio"
            class="laa-form-input"
            name="hobby"
            value="ilona"
          />
          Ilona
        </label>
        <label class="form-label">
          <input
            type="radio"
            class="laa-form-input"
            name="hobby"
            value="volodymyr"
          />
          Volodymyr
        </label>

        <button class="btn-form">Send</button>
        <p class="tx-laa">
          By clicking on “Send” button, you agree to our
          <span>Privacy Policy</span>, and allow Promodo to use this information
          for marketing purposes.
        </p>
      </form>
    </div>
  </div>
</section>
