<section class="teachers-section section">
  <div class="container">
    <h2 class="teachers-title title">Meet our teachers</h2>
    <p class="teachers-text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="our-teachers-list list">
      <li class="teachers-foto-item">
        <img
          srcset="images/teachers/maria.jpg 1x,
           images/teachers/maria@2x.jpg 2x"
          src="./images/teachers/maria.jpg"
          alt=""
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teachers-subtitle subtitle">Maria</h3>
        <p class="tx-teachers">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="teachers-foto-item">
        <img
          srcset="images/teachers/artem.jpg 1x, 
          images/teachers/artem@2x.jpg 2x"
          src="./images/teachers/artem.jpg"
          alt="artem teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teachers-subtitle subtitle">Artem</h3>
        <p class="tx-teachers">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="teachers-foto-item">
        <img
          srcset="images/teachers/ilona.jpg 1x, 
          images/teachers/ilona@2x.jpg 2x"
          src="./images/teachers/ilona.jpg"
          alt="ilona teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teachers-subtitle subtitle">Ilona</h3>
        <p class="tx-teachers">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="teachers-foto-item">
        <img
          srcset="
            images/teachers/volodymyr.jpg   1x,
            images/teachers/volodymyr@2.jpg 2x"
          src="./images/teachers/volodymyr.jpg"
          alt="volodymyr teacher"
          width="150"
          height="150"
          loading="lazy"
        />
        <h3 class="teachers-subtitle subtitle">Volodymyr</h3>
        <p class="tx-teachers">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
