<section class="proposal" id="english">
  <div class="proposal-container container">
    <h2 class="visually-hidden">Features</h2>
    <p class="proposal-section-title section-title" id="proposal-section-title">
      Master the
      <span class="title-acsent">Language</span>
      with Our English Package!
    </p>
    <div
      class="proposal-card"
      data-toggle-in-view="animated"
      data-full-in-view
      data-start-correction="65"
    >
      <h3 class="proposal-card-title">Power of English</h3>
      <ul class="proposal-list">
        <li class="proposal-list-item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="proposal-item">
            Dive into captivating lessons designed to stimulate your curiosity.
          </p>
        </li>
        <li class="proposal-list-item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="proposal-item">
            Learn in a nurturing setting where every student's progress matters.
          </p>
        </li>
        <li class="proposal-list-item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="20" height="20">
              <use href="./images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <p class="proposal-item">
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </p>
        </li>
      </ul>
      <div class="proposal-button">
        <a class="proposal-link" href="#english-application"
          >Leave an application</a
        >
      </div>
    </div>
  </div>
</section>
