<section class="proposal" id="english">
  <div class="container">
    <h2 class="section-title">
      Master the
      <span class="title-acsent">Language</span>
      with Our English Package!
    </h2>

    <div class="proposal-card">
      <h3 class="proposal-card-title">Power of English</h3>
      <ul class="proposal-list">
        <li class="item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="8" height="6">
              <use href="../images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <div class="proposal-item">
            Dive into captivating lessons designed to stimulate your curiosity.
          </div>
        </li>
        <li class="item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="8" height="6">
              <use href="../images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <div class="proposal-item">
            Learn in a nurturing setting where every student's progress matters.
          </div>
        </li>
        <li class="item">
          <div class="proposal-icon-back">
            <svg class="proposal-icon" width="8" height="6">
              <use href="../images/icons.svg#icon-check"></use>
            </svg>
          </div>
          <div class="proposal-item">
            Experience the satisfaction of real progress as your language skills
            and confidence grow with every session.
          </div>
        </li>
      </ul>
      <div class="proposal-button">
        <a class="proposal-link" href="../index.html#english-application"
          >Leave an application</a
        >
      </div>
    </div>
  </div>
</section>
