<!-- REVIEWS -->
<section class="reviews" id="english-reviews">
  <div class="container">
    <h2 class="section-title reviews-title">
      What our
      <span class="section-title-highlight reviews-title-accent">students</span>
      say
    </h2>
    <p class="section-description reviews-description">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper">
        <!-- REVIEW 1 -->
        <li
          class="reviews-item swiper-slide"
          data-toggle-in-view="animate__animated animate__fast animate__flipInX"
        >
          <div class="reviews-item-wrapper">
            <div class="reviews-item-box">
              <img
                srcset="./images/img5.jpg 1x, ./images/img5@2x.jpg 2x"
                src="./images/img5.jpg"
                alt="Anna"
                width="50"
                height="50"
                loading="lazy"
              />
            </div>

            <div class="reviews-item-thumb">
              <p class="reviews-item-title">Anna</p>
              <p class="reviews-item-subtitle">Student</p>
            </div>
          </div>
          <p class="section-description reviews-item-description">
            My experience at the language school has been nothing short of
            amazing. The teachers are dedicated and the learning environment is
            stimulating. I feel more confident in my English skills.
          </p>
        </li>
        <!-- REVIEW 2 -->
        <li
          class="reviews-item swiper-slide"
          data-toggle-in-view="animate__animated animate__fast animate__flipInX"
        >
          <div class="reviews-item-wrapper">
            <div class="reviews-item-box">
              <img
                srcset="./images/img6.jpg 1x, ./images/img6@2x.jpg 2x"
                src="./images/img6.jpg"
                alt="Mykhailo"
                width="50"
                height="50"
                loading="lazy"
              />
            </div>

            <div class="reviews-item-thumb">
              <p class="reviews-item-title">Mykhailo</p>
              <p class="reviews-item-subtitle">Student</p>
            </div>
          </div>
          <p class="section-description reviews-item-description">
            The school offers a great balance of language theory and practical
            exercises. The personalized feedback from the teachers has helped me
            improve my weak areas.
          </p>
        </li>
        <!-- REVIEW 3 -->
        <li
          class="reviews-item swiper-slide"
          data-toggle-in-view="animate__animated animate__fast animate__flipInX"
        >
          <div class="reviews-item-wrapper">
            <div class="reviews-item-box">
              <img
                srcset="./images/img7.jpg 1x, ./images/img7@2x.jpg 2x"
                src="./images/img7.jpg"
                alt="Victoria"
                width="50"
                height="50"
                loading="lazy"
              />
            </div>

            <div class="reviews-item-thumb">
              <p class="reviews-item-title">Victoria</p>
              <p class="reviews-item-subtitle">Student</p>
            </div>
          </div>
          <p class="section-description reviews-item-description">
            I love the dynamic and interactive teaching methods used here. It's
            a great place to learn English in a fun and effective way. I have
            definitely seen a big improvement in my language skills.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
