body {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* Styles for tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for desktop devices */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 64px;
    padding-right: 64px;
  }
}

.section-title {
  color: #121417;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.13;
  letter-spacing: -0.02em;
}
.section-title-highlight {
  position: relative;
}

.section-title-highlight::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  width: 100%;
  height: 12px;
  background-color: #bee8cc;
  bottom: 0px;
  left: 0px;
  bottom: 4px;
  z-index: -1;
}

.section-description {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  line-height: 1.67;
}
