/*section teachers*/

.teachers-section {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .teachers-section {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .teachers-section {
    margin-bottom: 150px;
  }
}

.our-teachers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .our-teachers-list {
    gap: 32px;
  }
}

.teachers-foto-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .teachers-foto-item {
    width: 272px;
  }
}
@media only screen and (min-width: 1280px) {
  .teachers-foto-item {
    width: 232px;
  }
}
.teachers-foto-item > img {
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teachers-foto-item > img:hover,
.teachers-foto-item > img:focus {
  transform: scale(1.1);
}
/* @media screen and (min-width: 320px) {
} */

.teacher-info-list {
  gap: 16px;
}
.teacher-info-list .teachers-subtitle {
  margin-bottom: 8px;
}

.teachers-subtitle {
  color: #121417;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.4px;
  align-items: center;
  text-transform: capitalize;
  gap: 16px;
}

.tx-teachers {
  color: rgba(18, 20, 23, 0.5);
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
  /* width: 232px; */
  font-size: 14px;
}

@media only screen and (min-width: 768px) {
  .tx-teachers {
    font-size: 16px;
  }
}
