.proposal {
}
.container {
  position: relative;
  z-index: -2;

  min-width: 320px;
  width: 335px;
  padding: 40px 20px;
  margin: 0 auto;
  border-radius: 16px;
  background: linear-gradient(85deg, #4dc274 2.25%, #bee8cc 131.25%);
}
/* Styles for tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    width: 704px;
    max-width: 736px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
/* Styles for desktop devices */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 64px;
    padding-right: 64px;
  }
}
.section-title {
  color: #fff;
  text-align: left;

  font-family: Manrope;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.05;

  margin-bottom: 65px;
}
/* Styles for tablet devices */
@media only screen and (min-width: 768px) {
  .section-title {
    width: 640px;

    margin-bottom: 32px;
  }
}
.title-acsent {
  color: #bee8cc;
}
.proposal-card {
  position: relative;
  width: 295px;
  height: 408px;

  border-radius: 16px;
  background: #ffffff;

  padding: 40px 20px;
}
.container .proposal-card::before,
.container .proposal-card::after {
  position: absolute;
  z-index: -1;

  content: '';
  display: block;
  width: 100%;
  height: 100%;

  border-radius: 16px;
  left: 0;
  bottom: 0;

  transform: rotate(11deg);
  transform: rotate(-9deg);
}
.proposal .proposal-card::before {
  transform: rotate(11deg);
  background: #ffffff80;
}
.proposal .proposal-card::after {
  transform: rotate(-9deg);
  background: #d4fde1;
}

.proposal-card-title {
  color: #121417;

  text-align: left;

  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;

  margin-bottom: 20px;
}
.proposal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 8px;
  color: #121417;

  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: -0.02px;

  text-align: left;

  margin-bottom: 20px;
}
.item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.proposal-icon-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: #4dc274;
  border-radius: 50%;
}
.proposal-icon {
  fill: #ffffff;
}
.proposal-item {
  width: 231px;
}
.proposal-button {
  width: 255px;

  color: #ffffff;
  background-color: #4dc274;
  border-radius: 15px;

  padding: 14px 0;
}
.proposal-link {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.7;
}
